# Ignore Python cache
__pycache__/
*.pyc

# Ignore data files
data/
*.csv

# Ignore virtual environments
venv/
.env

# Ignore kaggle credentials
kaggle.json

# ignore raw data
data/*.csv
data/*.xlsx

# python stuff
__pycache__/
*.pyc
.venv/
.env
